{{#block "header"}}
<!DOCTYPE html>
<html>
<head>
<title>{{#block "title"}}Welcome{{/block}}</title>
</head>
{{/block}}
<body>
{{!--  start of inner template--}}
<div class="">
{{#block "content"}}
{{/block}}
</div>
{{!--  end of inner template--}}
{{#block "footer"}}

</body>
</html>
{{/block}}